[submodule "Guava/vendor/spdlog"]
	path = Guava/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Guava/vendor/glfw"]
	path = Guava/vendor/glfw
	url = https://github.com/glfw/glfw

[submodule "Guava/vendor/glm"]
	path = Guava/vendor/glm
	url = https://github.com/g-truc/glm
